*{
    margin: 0;
    padding: 0;
}
body{
    background-color:aliceblue ;
   font-family: 'Roboto', sans-serif;

}

.container{
    max-width: 1000px;
    background-color: aqua;
    margin: 0 auto;
    padding: 20px;
}

.profile-img{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50px;
    float: left;
}

.header-bio{
    float: left;
    padding: 20px;
}

.header-contact{
    float: right;
}

.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}

.div-clear{
    clear: both;
}

hr{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
.main-section{
    float: top;
    margin: 0 auto;
}

/* footer section */
.footer-section{
    background-color: black;
    text-align: center;
    padding: 10px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}
.footer-section a {
    color: white;
    text-decoration: none;
    margin: 20px;
}
.footer-section p{
    color: white;
    margin: 20px;
}